.a-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    &-6 {
        height: rem(6);
        width: rem(6);
    }

    &-8 {
        height: rem(8);
        width: rem(8);
    }

    &-12 {
        height: rem(12);
        width: rem(12);
    }

    &-16 {
        height: rem(16);
        width: rem(16);
    }

    &-24 {
        height: rem(24);
        width: rem(24);
    }

    &-20 {
        height: rem(20);
        width: rem(20);
    }

    &-32 {
        height: rem(32);
        width: rem(32);
    }

    &-40 {
        height: rem(40);
        width: rem(40);
    }
  
    &-search {
        background-image: url('~assets/icons/ic_search.svg');
    }
   
    &-cart {
        background-image: url('~assets/icons/ic_cart.svg');
    }
   
    &-expand {
        background-image: url('~assets/icons/ic_expand.svg');
    }
   
    &-love {
        background-image: url('~assets/icons/ic_love.svg');
    }
   
    &-star {
        background-image: url('~assets/icons/ic_star.svg');
    }
   
    &-user {
        background-image: url('~assets/icons/ic_user.svg');
    }
   
    &-close {
        background-image: url('~assets/icons/ic_close.svg');
    }
   
    &-hambuger {
        background-image: url('~assets/icons/ic_hambuger.svg');
    }
   
    &-arrowRight {
        background-image: url('~assets/icons/ic_arrow_right_alt.svg');
    }
   
    &-arrowRightWhite {
        background-image: url('~assets/icons/ic_arrow_right_alt_white.svg');
    }

    &-arrowBlackNext {
        background-image: url('~assets/icons/ic_arrow_black_next.svg');
    }

    &-arrowBlackPrev {
        background-image: url('~assets/icons/ic_arrow_black_prev.svg');
    }

    &-filter {
        background-image: url('~assets/icons/ic_filter.svg');
    }

    &-share {
        background-image: url('~assets/icons/ic_share.svg');
    }

    &-closeWhite {
        background-image: url('~assets/icons/ic_close_white.svg');
    }

    &-facebook {
        background-image: url('~assets/icons/ic_facebook.svg');
    }

    &-instagram {
        background-image: url('~assets/icons/ic_instagram.svg');
    }

    &-tiktok {
        background-image: url('~assets/icons/ic_tiktok.svg');
    }

    &-phone {
        background-image: url('~assets/icons/ic_phone.svg');
    }

    &-gmail {
        background-image: url('~assets/icons/ic_gmail.svg');
    }

    &-edit {
        background-image: url('~assets/icons/ic_edit.svg');
    }

    &-delete {
        background-image: url('~assets/icons/ic_delete.svg');
    }
}
