.a-loading {
    $root: &;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: rem(10);
    margin-top: rem(10);
    width: 100%;

    &-small {
        margin: 0;
    }

    .a-icon {
        height: rem(30);
        width: rem(30);
    }

    &-fullScreen {
        height: 100vh;
        left: 0;
        margin: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 10;

        .a-icon {
            height: rem(50);
            width: rem(50);
        }
    }

    &-filled {
        background-color: $white;
    }

    &_wrapper {
        align-items: center;
        background-color: transparent;
        display: flex;
        justify-content: center;

        .a-text {
            margin-left: rem(8);
        }
    }

    &_tail {
        animation: tail 1s infinite linear;
        background-image: linear-gradient($white, $white), conic-gradient($white, $carmine-pink);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: double 0.25em transparent;
        border-radius: 100%;
        height: rem(32);
        overflow: hidden;
        position: relative;
        width: rem(32);

        &-small {
            width: rem(24);
            height: rem(24);
        }
    }

    &-white {
        #{$root}_tail {
            background-image: linear-gradient($carmine-pink, $carmine-pink), conic-gradient($carmine-pink, $white);
        }
    }
}

@keyframes tail {
    to { transform: rotate(1turn); }
}
  
.a-loadingMain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    z-index: $z-loading;

    img {
        position: absolute;
        top: 50%;
        left: rem(-60);
        transform: translate(-50%, -50%);

        &:nth-child(1) {
            animation: show1 2.5s infinite ease-in-out;
            animation-delay: 0.4s;
        }

        &:nth-child(2) {
            animation: show2 2.5s infinite ease-in-out;
            animation-delay: 0.3s;
        }

        &:nth-child(3) {
            animation: show3 2.5s infinite ease-in-out;
            animation-delay: 0.2s;
        }

        &:nth-child(4) {
            margin-left: rem(12);
            animation: show4 2.5s infinite ease-in-out;
        }
    }
}

@keyframes show1 {
    0% {
        left: rem(-60);
    }

    25% {
        left: calc(50% - 72px);
    }

    50% {
        left: calc(50% - 72px);
    }

    100% {
        left: 110%;
    }
}

@keyframes show2 {
    0% {
        left: rem(-60);
    }

    25% {
        left: calc(50% - 20px);
    }

    50% {
        left: calc(50% - 20px);
    }

    100% {
        left: 110%;
    }
}

@keyframes show3 {
    0% {
        left: rem(-60);
    }

    25% {
        left: calc(50% + 36px);
    }

    50% {
        left: calc(50% + 36px);
    }

    100% {
        left: 110%;
    }
}

@keyframes show4 {
    0% {
        left: rem(-60);
    }

    25% {
        left: calc(50% + 82px);
    }

    50% {
        left: calc(50% + 82px);
    }

    100% {
        left: 150%;
    }
}
