/* stylelint-disable max-nesting-depth */
.o-menu {
    $root: &;

    &_list {
        display: flex;
        min-height: rem(84);

        @include tablet-down {
            display: block;
        }
    }

    &_item {
        position: relative;
        margin-left: rem(24);
        display: flex;
        align-items: center;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            #{$root}_submenu {
                opacity: 1;
                visibility: visible;
            }

            > a p {
                font-weight: 700;
            }
            
            
        }

        &:has(.o-menu_submenu .o-menu_item .o-menu_submenu) {
            position: static;
        }

        @include tablet-down {
            margin-left: 0;
            display: block;

            &:hover {
                #{$root}_submenu {
                    height: auto;
                    padding: rem(18) 0;
                }
            }
        }
    }

    &_submenu {
        position: absolute;
        min-width: rem(240);
        top: 100%;
        left: rem(-30);
        margin: 0;
        padding: rem(18) 0;
        list-style: none;
        background-color: $white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: all $transition cubic-bezier(0.28, 0.12, 0.22, 1);
        transition: all $transition cubic-bezier(0.28, 0.12, 0.22, 1);
        border-top: 1px solid $battleship-grey;

        @include tablet-down {
            position: relative;
            top: unset;
            left: unset;
            height: 0;
            overflow: hidden;
            border-top: 0;
            padding: 0;
        }

        #{$root}_item {
            margin-left: 0;

            a {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                padding: rem(4) rem(30);
                white-space: nowrap;
            }
        }

        &:has(.o-menu_item .o-menu_submenu ) {
            display: flex;
            left: 0;
            @include tablet-down {
                display: block;
            }

            #{$root}_item {
                min-width: rem(240);
                #{$root}_submenu {
                    left: 0;
                    border-top: 0;
                }

                @include tablet-down {
                    &:hover {
                        #{$root}_submenu {
                            height: auto;
                            padding: rem(18) 0;
                        }
                    }

                    a {
                        position: relative;

                        &:hover {
                            &::before {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                
                        &::before {
                            content: '';
                            position: absolute;
                            width: rem(12);
                            height: rem(12);
                            background: url('~assets/icons/ic_arrow_down.svg') no-repeat;
                            background-size: contain;
                            background-position: center;
                            right: rem(24);
                            transform: translateY(-50%);
                            top: 50%;
                            transition: $transition;
                        }
                    }
                }
            }
        }
    }

    &_link {
        padding-right: rem(18);
        position: relative;

        &:hover {
            &::before {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: rem(12);
            height: rem(12);
            background: url('~assets/icons/ic_arrow_down.svg') no-repeat;
            background-size: contain;
            background-position: center;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            transition: $transition;
        }

        @include tablet-down {
            display: block;

            &::before {
                right: rem(24);
            }
        }
    }
}
