.o-menu {
    $root: &;

    &_list {
        display: flex;
        min-height: rem(84);
    }

    &_item {
        position: relative;
        margin-left: rem(24);
        display: flex;
        align-items: center;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            #{$root}_submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &_submenu {
        position: absolute;
        min-width: 15rem;
        top: 100%;
        left: -1.875rem;
        margin: 0;
        padding: 1.125rem 0;
        list-style: none;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);

        #{$root}_item {
            margin-left: 0;

            a {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                padding: 0.25rem 1.875rem;
                white-space: nowrap;
            }
        }

        &:has(.o-menu_item .o-menu_submenu ) {
            display: flex;
            left: 0;
            #{$root}_item {
                min-width: 15rem;
                #{$root}_submenu {
                    left: 0;
                }
            }
        }
    }
}
