.t-featuredProduct {
    padding-bottom: rem(80);

    @include mobile-down {
        padding-bottom: rem(40);
    }

    &_description {
        max-width: 60%;
        margin: rem(16) auto 0;
        margin-bottom: rem(32);
        @include desktop-down {
            max-width: 80%;
        }
        @include mobile-down {
            max-width: 90%;
        }
    }

    &_item {
        padding: rem(12);
    }

    &_products {
        margin-top: rem(32);
    }
}
