.o-tabs {
    $root: &;

    &_labels {
        overflow: auto hidden;
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: rem(15);

        @include scroll-bars(8);

        @include tablet-down {
            padding-bottom: rem(12);
        }
    }

    &-underline {
        #{$root}_labels {
            border-bottom: 1px solid $platinum;
        }
    }

    &-center {
        #{$root}_labels {
            justify-content: center;
        }
    }

    &_label {
        color: $ash-grey-3b3;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
        transition: $transition;
        @include font-base(20, 30);

        @include tablet-down {
            @include font-base(15, 20);
        }
    }

    &_tab {
        background: transparent;
        cursor: pointer;
        position: relative;
        transition: all 0.2s linear;

        &:not(&:first-child) {
            margin-left: rem(30);
        }

        &:not(&-active):hover {
            #{$root}_label {
                color: $black;
            }
        }

        &-active {
            #{$root}_label {
                color: $black;
            }
        }
    }

    &_panel {
        display: none;

        &-active {
            display: block;
            margin-top: rem(20);

            @include tablet-down {
                margin-top: rem(14);
            }
        }
    }
}
