.t-homeCategory {
    $root: &;
    display: flex;
    margin-left: rem(-16);
    margin-right: rem(-16);

    @include tablet-down {
        display: block;
    }

    &_left,
    &_right {
        padding-left: rem(16);
        padding-right: rem(16);
    }

    &_left {
        flex: 1 0 49%;
    }

    &_right {
        flex: 1 0 51%;
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-16);
        margin-right: rem(-16);

        #{$root} {
            &_item {
                padding-left: rem(16);
                padding-right: rem(16);
                flex: 1 0 50%;

                &:first-child {
                    flex: 2 0 100%;
                    margin-bottom: rem(42);

                    @include tablet-down {
                        margin-bottom: rem(16);
                    }
                }
            }
        }

        @include tablet-down {
            margin-top: rem(16);
        }
    }

    &_item {
        position: relative;
        overflow: hidden;
    }

    &_content {
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(40);

        @include tablet-down {
            padding: rem(20) rem(30);
        }
    }

    &_name {
        margin-top: rem(8);
    }

    &_description {
        margin-top: rem(8);
        opacity: 0.6;
    }

    &_items {
        margin-top: rem(30);
        @include tablet-down {
            margin-top: rem(20);
        }
    }

    &_itemLink {
        height: rem(24);
        margin-top: rem(4);
    }

    &_placeholder {
        border-radius: rem(8);
        background-repeat: no-repeat;
        background-size: cover;

        &-272x289 {
            @include aspect-ratio(272, 289);
            background-image: url('~assets/images/category-1.jpeg');
            background-position: left bottom;
        }

        &-34x17 {
            @include aspect-ratio(34, 17);
            background-image: url('~assets/images/category-2.jpeg');
        }

        &-257x274 {
            @include aspect-ratio(257, 274);

            background-image: url('~assets/images/category-4.jpeg');
        }
    }
}
