// Text Colors
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$carmine-pink: rgb(238, 64, 61); // #ee403d
$gainsboro: rgb(221, 221, 221); // #dddddd
$anti-flash-white: rgb(240, 240, 240); // #f0f0f0
$ash-grey: rgb(174, 185, 190); // #aeb9be
$mint: rgb(71, 180, 134); // #47b486
$white-smoke: rgb(244, 246, 250); //#f4f6fa
$davys-grey: rgb(89, 89, 89); //#595959
$battleship-grey: rgb(133, 133, 133); // #858585
$fire-engine-red: rgb(198, 30, 30); //#c61e1e
$anti-flash-white: rgb(240, 240, 244); //#f0f0f4
$sonic-silver: rgb(117, 118, 124); //#75767c
$ferrari-red: rgb(247, 28, 4); //#f71c04
$seashell: rgb(251, 241, 236); //#fbf1ec
$isabelline: rgb(237, 237, 237); //#ededed
$cadmium-green: rgb(1, 98, 67); // #016243
$gray-x11: rgb(187, 187, 187); // #bbbbbb
$bg-white-smoke: rgb(246, 246, 246); // #f6f6f6
$platinum: rgb(222, 224, 234); // #dee0ea
$ash-grey-3b3: rgb(179, 179, 179); // #b3b3b3
$snow: rgb(250, 250, 250); //#fafafa
$cadet-grey: rgb(154, 165, 179); //#9aa5b3
// Overlays
$black-3: rgba($black, 0.3);

// Linears
