@use 'sass:math';

@mixin text-overflow ($number: 2) {
    display: box;
    -webkit-line-clamp: ($number);
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin aspect-ratio($width: 1, $height: 1) {
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-bottom: math.div($height, $width) * 100%;
    }
}

@mixin transition($value) {
    transition: $value;
}

@mixin scroll-bars(
    $size: 12, $thumb-color: $green-ryb, $track-color: $bg-white-smoke, $border-radius-thumb: 5, $border-thumb: 2
) {

    // For Internet Explorer

    scrollbar-face-color: $thumb-color;
    scrollbar-track-color: $track-color;

    // For Google Chrome
    &::-webkit-scrollbar {
        height: rem($size);
        margin-right: rem(10);
        width: rem($size);
    }

    &::-webkit-scrollbar-thumb {
        // background: $thumb-color;
        // border: rem($border-thumb) solid $track-color;
        border-radius: rem($border-radius-thumb);
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
    }
}

@mixin font-base($font-size: 16, $line-height: 24) {
    font-size: rem($font-size);
    line-height: rem($line-height);
}

@mixin style-bg-color() {
    &-bg-white {
        background-color: $white;
    }
}

@mixin style-font-base() {
    &-10x12 {
        @include font-base(10, 12);
    }

    &-12x14 {
        @include font-base(12, 14);

        @include mobile-down {
            @include font-base(10, 12);
        }
    }

    &-13x16 {
        @include font-base(13, 16);
    }

    &-14x16 {
        @include font-base(14, 16);
    }

    &-15x18 {
        @include font-base(15, 18);
    }

    &-16x18 {
        @include font-base(16, 18);

        @include mobile-down {
            @include font-base(14, 16);
        }
    }
        
    &-18x21 {
        @include font-base(18, 21); 
    }

    &-20x24 {
        @include font-base(20, 24);
    }

    &-22x25 {
        @include font-base(22, 25);
    }

    &-24x28 {
        @include font-base(24, 28);
    }

    &-28x32 {
        @include font-base(28, 32);
    }

    &-30x36 {
        @include font-base(30, 36);
    }

    &-32x36 {
        @include font-base(32, 36);
    }

    &-36x40 {
        @include font-base(36, 40);
    }

    &-40x48 {
        @include font-base(40, 48);
    }

    &-48x54 {
        @include font-base(48, 54);
    }

    &-76x80 {
        @include font-base(76, 80);

        @include desktop-down {
            @include font-base(34, 40);
        }

        @include mobile-down {
            @include font-base(30, 32);
        }
    }
}

@mixin style-font-weight() {
    &-100 {
        font-weight: 100;
    }

    &-200 {
        font-weight: 200;
    }

    &-300 {
        font-weight: 300;
    }

    &-400 {
        font-weight: normal;
    }

    &-500 {
        font-weight: 500;
    }

    &-600 {
        font-weight: 600;
    }

    &-700 {
        font-weight: bold;
    }

    &-800 {
        font-weight: 800;
    }

    &-900 {
        font-weight: 900;
    }
}

@mixin style-general() {
    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-underline {
        text-decoration: underline;
    }

    &-italic {
        font-style: italic;
    }

    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }

    &-lineThrough {
        text-decoration: line-through;
    }
}

@mixin reset-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
}

@mixin list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin adjust-flex($justify-content: center, $align-item: center) {
    align-items: $align-item;
    display: flex;
    justify-content: $justify-content;
}

$colors-design: (
    'white': $white,
    'black': $black,
    'ashGrey': $ash-grey,
    'carminePink': $carmine-pink,
    'sonicSilver': $sonic-silver,
);

@mixin style-color {
    @each $name, $color in $colors-design {
        &-#{$name} {
            color: $color;
        }
    }
}
