.o-productCartItem {
    display: flex;
    position: relative;

    &_image {
        width: rem(60);
        flex-shrink: 0;

        @include mobile-down {
            display: none;
        }
    }

    &_content {
        flex-grow: 1;
        margin-left: rem(24);
        text-align: left;
        @include tablet-down {
            margin-left: rem(16);
        }
        @include mobile-down {
            margin-left: rem(8);
        }
    }

    &_color {
        margin-top: rem(4);
    }

    &_remove {
        position: absolute;
        top: rem(-8);
        left: rem(-8);
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: $ferrari-red;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
