.o-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-header;
    transition: $transition;

    .animate {
        animation-delay: 2s;
    }
    
    &_content {
        background-color: $white;
        border-bottom: 1px solid $platinum;
    }

    &-fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    &_wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    &_left {
        display: flex;
        align-items: center;
        height: rem(84);
    }

    &_logo {
        width: rem(96);
        @include tablet-down {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }

    &_hambuger {
        @include tablet-up {
            display: none;
        }
    }

    &_menu {
        margin-left: rem(40);
        transition: $transition;

        &_logo {
            height: rem(84);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(16) rem(24) rem(16) rem(16);
            width: 100%;

            .a-image {
                width: rem(80);
            }

            @include tablet-up {
                display: none;
            }
        }

        &_account {
            display: none;
            @include tablet-down {
                display: block;
                @include tablet-down {
                    padding: rem(12) rem(16);
                }
            }
        }

        @include tablet-down {
            position: fixed;
            margin-left: 0;
            width: 0;
            height: 100vh;
            top: 0;
            left: -110%;
            background-color: $white;
            z-index: 2;
            overflow-y: auto;

            &-opened {
                left: 0%;
                width: 90vw;
            }
        }
    }

    &_right {
        display: flex;
        align-items: center;

        &_button {
            display: flex;
            align-items: center;
            margin-left: rem(16);
            @include mobile-down {
                .a-text {
                    display: none;
                }
            }

            &.hide-mobile {
                @include tablet-down {
                    display: none;
                }
            }
        }
    }
}
