.o-modal {
    $root: &;
    position: relative;
    z-index: $z-modal;

    &_wrapper {
        position: relative;
    }

    &_close {
        position: absolute;
        top: rem(24);
        right: rem(24);
    }

    &-shipping {
        width: 80%;
        background-color: $white;
        margin-left: auto;
        margin-right: auto;
        #{$root}_wrapper {
            padding: rem(40) rem(60);
            @include tablet-down {
                padding: rem(24) rem(32);
            }
            @include mobile-down {
                padding: rem(24) rem(16) rem(16);
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @include mobile-down {
            width: 90%;
        }
    }

    &-notification {
        width: 50%;
        max-width: rem(450);
        background-color: $white;
        margin-left: auto;
        margin-right: auto;
        #{$root}_wrapper {
            padding: rem(40) rem(60);
            @include tablet-down {
                padding: rem(24) rem(32);
            }
            @include mobile-down {
                padding: rem(16);
                width: 90%;
            }
        }
        @include mobile-down {
            width: 90%;
        }
    }
}

.ReactModal__Overlay {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}

.ReactModal__Overlay {
    background: rgba($eerie-black, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    transform: translateY(-100%);
    transition: all 500ms ease-in-out;
    z-index: $z-modal;

    &::after {
        background: rgba($eerie-black, 0.3);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &--open {
        overflow: hidden;
    }

    &--after-open {
        opacity: 1;
        transform: translateY(0);
    }

    &--before-close {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.o-popup_overlay {
    &-popupImage {
        z-index: 0;
    
        &::after {
            z-index: 0;
        }
    }
}
