.a-input {
    $root: &;
    position: relative;

    &_ele {
        width: 100%;
        font-family: inherit;
        outline: 0;
        border: 0;
        background-color: $white;
        border-radius: rem(2);
        font-weight: 500;
        height: rem(48);
        padding: rem(12) rem(14);
        @include font-base(14, 20);
    }

    &_error {
        color: $fire-engine-red;
        margin-top: rem(6);
        @include font-base(12, 17);
    }

    &_flex {
        margin-top: rem(4);
        display: flex;
        align-items: center;
        padding: rem(12) rem(14);
        #{$root}_ele {
            padding: 0;
        }
    }

    &-bordered {
        #{$root}_flex {
            height: rem(42);
            border: 1px solid $platinum;
        }

        #{$root}_ele {
            height: rem(38);
        }
    }

    &-search {
        border-bottom: 1px solid $platinum;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            width: rem(24);
            height: rem(24);
            background: url('~assets/icons/ic_search.svg') no-repeat;
            background-size: contain;
            background-position: center;
        }
        #{$root}_ele {
            padding-left: 0;
        }
    }
}
