.a-input {
    $root: &;
    position: relative;

    &_ele {
        width: 100%;
        font-family: inherit;
        outline: 0;
        border: 0;
        background-color: $white;
        border-radius: rem(2);
        font-weight: 500;
        padding: rem(12) rem(14);
        height: rem(48);
        @include font-base(14, 20);
    }

    &_error {
        color: $fire-engine-red;
        margin-top: rem(6);
        @include font-base(12, 17);
    }

    &-bordered {
        #{$root}_ele {
            height: rem(42);
            border: 1px solid $platinum;
        }
    }
}
