.p-authenticate {
    max-width: rem(560);
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    padding: rem(60);

    @include tablet-up {
        border: 1px solid $platinum;
    }

    &_tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_btnLogin,
    &_btnRegister {
        width: auto;
        opacity: 0.3;
        transition: $transition;

        &-active {
            opacity: 1;
        }
    }

    &_content {
        width: 200%;
        display: flex;
    }

    &_login,
    &_register {
        max-width: 50%;
        opacity: 0;
        visibility: visible;
        width: 0;
        transition: $transition;

        &-active {
            width: 100%;
            opacity: 1;
            visibility: visible;
        }
    }

    &_field {
        margin-top: rem(24);
    }

    &_button {
        margin-top: rem(32);
    }
}
