.p-productDetail {
    margin-top: rem(16);

    &_content {
        margin-top: rem(30);
    }

    &_tabs {
        margin-top: rem(62);
        margin-bottom: rem(40);

        &_content {
            img {
                max-width: 50%;
                margin-top: rem(16);

                @include mobile-down {
                    max-width: 100%;
                }
            }
        }
    }

    &_related {
        margin-top: rem(60);
        margin-bottom: rem(32);
    }
}
