.p-checkout {
    &_address {
        &_title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: auto;
            }
        }
    }

    &_line {
        margin-top: rem(16);
    }

    &_total {
        padding: rem(40);
        border: 1px solid $platinum;
        border-radius: rem(2);
        @include mobile-down {
            padding: rem(20);
        }
    }

    &_summary {
        display: flex;
        justify-content: space-between;
        margin-top: rem(20);
    }

    &_price {
        margin-left: rem(32);
        flex-shrink: 0;
    }

    &_divider {
        height: 1px;
        background-color: $platinum;
        margin-top: rem(20);
    }

    &_button {
        margin-top: rem(44);

        &.continue {
            max-width: rem(240);
            margin-left: auto;
            margin-right: auto;
        }

        .a-button {
            margin-top: rem(16);
        }
    }

    &_info {
        @include tablet-down {
            margin-top: rem(32);
        }
    }

    &_success {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(24);

        &-icon {
            display: inline-block;
            width: 8em;
            height: 8em;
            font-size: rem(16);
            border-radius: 50%;
            border: rem(8) solid lighten($may-green, 20%);
            background-color: $white;
            position: relative;
            overflow: hidden;
            transform-origin: center;
            animation: showSuccess 1s ease-in-out;
            animation-delay: 500;
            transform: scale(1);

            &_tip,
            &_long {
                display: block;
                position: absolute;
                height: 8px;
                background-color: lighten($may-green, 20%);
                border-radius: 10px;
            }
          
            &_tip {
                width: 4em;
                top: 4.3em;
                left: 1.4em;
                transform: rotate(45deg);
                animation: tipInPlace 0.5s ease-in-out;
                animation-fill-mode: forwards;
                animation-delay: 700;
                visibility: hidden;
            }
          
            &_long {
                width: 4em;
                transform: rotate(-45deg);
                top: 3.7em;
                left: 2.75em;
                animation: longInPlace 0.5s ease-in-out;
                animation-fill-mode: forwards;
                visibility: hidden;
                animation-delay: 800;
            }
        }   
    }

    &_payment {
        margin-top: rem(48);

        &_item {
            margin-top: rem(16);
        }

        &_info {
            display: flex;
            justify-content: space-evenly;

            @include mobile-down {
                display: block;
            }
        }

        &_qr {
            flex: 1;
            max-width: 40%;
            @include mobile-down {
                max-width: 100%;
                margin-top: rem(24);
            }

            .a-image {
                border: 1px solid $platinum;
                border-radius: rem(8);
                overflow: hidden;
                margin-bottom: rem(24);
            }
        }

        &_footer {
            display: flex;
            justify-content: center;
            margin-top: rem(24);

            .a-button {
                max-width: rem(240);
            }
        }
    }
}
@keyframes showSuccess {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@keyframes tipInPlace {
    from {
        width: 0;
        top: 0;
        left: -1.6em;
    }

    to {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        visibility: visible;
    }
}
  
@keyframes longInPlace {
    from {
        width: 0;
        top: 5.1em;
        left: 3.2em;
    }

    to {
        width: 4em;
        top: 3.7em;
        left: 2.75em;
        visibility: visible;
    }
}
