.m-quantity {
    border: 1px solid $gainsboro;
    @include adjust-flex;
    width: rem(108);

    &_input {
        height: rem(46);
        flex-grow: 1;
        width: rem(42);
        outline: none;
        border: 0;
        text-align: center;
    }

    &_plus,
    &_minus {
        width: rem(32);
        flex-shrink: 0;
        position: relative;
        height: rem(46);
        outline: none;
        border: 0;
        background: none;

        &::after {
            content: '';
            position: absolute;
            width: rem(10);
            height: rem(2);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $black;
        }
    }

    &_plus {
        &::before {
            content: '';
            position: absolute;
            width: rem(2);
            height: rem(10);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $black;
        }
    }
}
