.main-content {
    padding-top: rem(84);
}

.search-panel {
    position: fixed;
    top: -100%;
    left: 0;
    padding-top: rem(114);
    background-color: $white;
    z-index: $z-search;
    transition: $transition;

    &-opened {
        top: 0;
    }

    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_input {
        margin-top: rem(16);
        margin-bottom: rem(16);
    }
}

.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: $white;
    padding-top: rem(8);
    padding-bottom: rem(24);
    box-shadow: 0 0 8px rgba($black, 0.2);
    display: none;
    z-index: $z-search;

    @include mobile-down-portrait {
        display: flex;
    }

    &_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .a-text {
            margin-top: rem(4);
        }
    }
}
