.a-sizeSelect {
    $root: &;
    min-width: rem(78);
    border: 1px solid $gainsboro;
    background-color: $white;
    color: $black;
    padding: rem(8);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: $transition;

    &:hover,
    &:has(input:checked) {
        background-color: $carmine-pink;
        border-color: $carmine-pink;

        p {
            color: $white;
        }
    }
}
