.p-account {
    &_menu {
        border: 1px solid $platinum;

        &_head {
            padding: rem(18) rem(24);
        }

        &_item {
            padding: rem(12) rem(24);
            border-top: 1px solid $platinum;
            cursor: pointer;

            &:hover,
            &-active {
                background-color: $carmine-pink;

                .a-text {
                    color: $white;
                }
            }
        }
    }

    &_field {
        margin-top: rem(16);

        @include tablet-up {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &_button {
        margin-top: rem(32);
        max-width: rem(160);
    }
}
