.p-products {
    margin-top: rem(60);

    @include tablet-down {
        margin-top: rem(40);
    }

    @include mobile-down {
        margin-top: rem(24);
    }

    &_sidebar {
        padding-right: rem(15);
        @include tablet-down {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            padding: rem(40) rem(16);
            z-index: $z-modal;
            background-color: $white;
            overflow-y: auto;
            transition: $transition;

            &-open {
                left: 0;
            }

            
        }

        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: rem(24);
            margin-bottom: rem(24);
            border-bottom: 1px solid $platinum;

            @include tablet-up {
                display: none;
            }
        }
    }

    &_content {
        padding-left: rem(15);

        @include tablet-down {
            padding-left: 0;
        }
    }

    &_banner {
        position: relative;

        &_content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: rem(60);
            max-width: 50%;

            @include tablet-down {
                padding: rem(40);
                max-width: 70%;
            }

            @include mobile-down {
                padding: rem(16);
                max-width: 90%;
            }
        }

        &_text {
            margin-top: rem(16);
            @include mobile-down {
                margin-top: rem(8);
            }
        }
    }

    &_controls {
        margin-top: rem(24);
        margin-bottom: rem(8);
        display: flex;
        justify-content: flex-end;

        @include tablet-down {
            justify-content: space-between;
        }

        &-left,
        &-right {
            display: flex;
            align-items: center;
        }

        &-left {
            margin-left: rem(-16);
            @include tablet-up {
                display: none;
            }
        }

        &_text {
            margin-left: rem(8);
        }
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-15);
        margin-right: rem(-15);

        @include tablet-down {
            margin-left: rem(-8);
            margin-right: rem(-8);
        }
    }

    &_item {
        flex: 1 0 25%;
        padding: rem(15);

        @include desktop-down {
            flex-basis: 33.333333%;
        }

        @include tablet-down {
            flex-basis: 50%;
            padding: rem(15) rem(8);
        }
    }

    &_pagination {
        margin-top: rem(60);
    }
}
