.t-homeBanner {
    $root: &;
    width: 100%;
    position: relative;
    @include aspect-ratio(16, 9);

    @include mobile-down {
        @include aspect-ratio(2, 3);
    }

    &.animated {
        #{$root} {
            &_background {
                transform: scale(1);
            }
    
            &_layer {
                width: 0;
            }
        }

        svg {
            fill: $black;
            top: 25%;
            width: rem(150);
            opacity: 0;
        }
    }

    &_background {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        transform: scale(1.5);
        transition: 2s;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($white, 0.3);
        }

        .a-image {
            max-height: 100%;
        }
    }

    &_layer {
        background-color: $black;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: rem(-84);
        left: 0;
        transition: 1s;
        z-index: 2;

        &.hidden {
            width: 0;
        }
    }

    svg {
        position: absolute;
        width: rem(300);
        max-width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s;
        z-index: 2;

        &.hidden {
            fill: $black;
            top: 25%;
            width: rem(150);
            opacity: 0;
        }
    }

    &_item {
        position: relative;

        @include mobile-down {
            min-height: rem(300);

            .a-image {
                width: 100%;
                height: 100%;
                position: absolute;

                span {
                    height: 100% !important;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &_content {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: rem(72);
        max-width: 50%;

        @include mobile-down {
            max-width: 100%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
    }

    &_title {
        margin-top: rem(12);
        @include mobile-down {
            margin-top: rem(8);
        }
    }

    &_description {
        margin-bottom: rem(12);
        @include mobile-down {
            margin-bottom: rem(8);
        }
    }

    &_link {
        display: flex;
        align-items: center;
        margin-top: rem(32);
        max-width: rem(140);
        @include mobile-down {
            margin-top: rem(16);
        }
    }

    &_icon {
        margin-left: rem(8);
    }

    &_best {
        position: absolute !important;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 35%;
        background-color: $tuscany;

        &_text {
            position: absolute;
            transform: rotate(-90deg);
            top: rem(54);
            left: rem(-16);
        }

        &_image {
            position: absolute;
            top: rem(32);
            width: 60%;
            height: calc(100% - 32px);
            right: rem(24);

            .a-image {
                width: 100%;
                height: 100%;
            }
        }
    }

    &_scrolldown {
        position: absolute;
        bottom: rem(48);
        left: 50%;
        transform: translateX(-50%);
        width: rem(52);
        height: rem(52);
       
        cursor: pointer;

        &_wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(4px);
            box-shadow: 0 0 15px rgba(12, 26, 75, 0.2);
        }

        .a-icon {
            animation: animateIconScroll 1s infinite ease-in-out;
        }
    }
}

@keyframes animateIconScroll {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    50% {
        opacity: 1;
        transform: translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(10%);
    }
}
@keyframes animateIconScroll {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    50% {
        opacity: 1;
        transform: translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(10%);
    }
}
